@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="vh-100" style="background-color: #14b7b8;">
    <div class="container py-5 h-10">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 5rem; background-color: #5dc1b9;">
                    <div class="card-body p-1 text-center">
                        <h1 class="mb-2"><font color="white"><strong>CEN</strong></font></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-1 h-100">
        <div class="row d-flex justify-content-center align-items-center h-80">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">

                        <h3 class="mb-5">Inicia sesión</h3>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="typeEmailX-2">Nombre de usuario</label>
                            <input type="text" id="Usuario" class="form-control form-control-lg" />
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="typePasswordX-2">Contraseña</label>
                            <input type="password" id="Contraseña" class="form-control form-control-lg" />
                        </div>

                        <a type="submit" value="Save" class="btn btn-danger btn-lg btn-block" asp-area="" asp-page="/Menu">Ingresar</a>

                        <hr class="my-4">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
